*{
    box-sizing: border-box;
    font-family: monospace;
    background: rgb(0 100 0 / 0.1) !important;
    outline: 1px solid limegreen !important;
}

body{
    background-color: transparent;
    margin: 20px;
}

.wrapper{
    background-color: transparent;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;    
}

label{
    display: block;
}

.color-label{
    position: relative;
    font-size: 12px;
    padding: 10px;
    padding-top: 12px;
}

span{
    position: relative;
    font-size: 22px;
    bottom: -1px;
}

.opt-wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    gap: 10px;
}

button{
    background-color: #97f274;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #0137cc;
}

input[type="color"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 70px;
    height: 40px;
    border: none;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch{
    border-radius: 8px;
    border: 4px solid #000;
}
input[type="color"]::-moz-color-swatch{
    border-radius: 8px;
    border: 4px solid #000;
}

.gridCol{
    height: 1em;
    width: 1em;
    border: 1px solid #ddd;
}

.gridRow{
    display: flex;
}

@media only screen and (max-width: 768px){
    .gridCol{
        height: 0.8em;
        width: 0.8em;
    }
}
